langchain==0.1.13
langchain_core==0.1.36
langchain_nvidia_ai_endpoints==0.0.4
Requests==2.31.0
streamlit==1.21.0
streamlit_javascript==0.1.5
faiss-cpu==1.7.4
unstructured[all-docs]==0.11.2
opencv-python-headless
